<a href="https://colab.research.google.com/github/Heoquixote/Data_Scientist_Course/blob/main/Movie_Recommend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

rating_url = 'https://raw.githubusercontent.com/yoonkt200/python-data-analysis/master/data/ml-1m/ratings.dat'
rating_df = pd.io.parsers.read_csv(rating_url, names=['user_id', 'movie_id', 'rating', 'time'], delimiter='::', engine ='python')
rating_df.head()

   user_id  movie_id  rating       time
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [ ]:
movie_url = 'https://raw.githubusercontent.com/yoonkt200/python-data-analysis/master/data/ml-1m/movies.dat'
movie_df = pd.io.parsers.read_csv(movie_url, names=['movie_id', 'title', 'genre'], delimiter='::', engine ='python', encoding='ISO-8859-1')
movie_df.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [ ]:
#추천 시스템 전용 패키 suprise
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 12.0 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.7.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1633987 sha256=03beead74fbc148ae8b7f9f1ea005816dccf9b53ff1e6820bd4d9294242138db
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [ ]:
from surprise import Dataset,Reader
from surprise.model_selection import train_test_split

In [ ]:
reader = Reader(rating_scale=(1,5))
data = Dataset.load_from_df(rating_df[['user_id','movie_id','rating']],reader)

In [ ]:
trainset,testset = train_test_split(data,test_size=0.2)

In [ ]:
from surprise import KNNBasic

In [ ]:
from surprise import accuracy

In [ ]:
algo = KNNBasic(k=40,min_k=1,sim_options={'user_based':True,"name":"cosine"})

In [ ]:
algo.fit(trainset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [ ]:
preidctions = algo.test(testset)

In [ ]:
accuracy.rmse(preidctions)

RMSE: 0.9768

0.9768466958022054

In [ ]:
predictions = algo.test(testset[:20])

for _, iid, r_ui, predicted_rating, _ in predictions:
    print("Item id", iid, "|", "real rating :", r_ui, "|", "predicted rating :", predicted_rating)

Item id 3113 | real rating : 3.0 | predicted rating : 2.925513301457549
Item id 176 | real rating : 4.0 | predicted rating : 3.9505782311620217
Item id 2712 | real rating : 1.0 | predicted rating : 3.375
Item id 3735 | real rating : 4.0 | predicted rating : 4.151371354783914
Item id 592 | real rating : 5.0 | predicted rating : 3.749165268864329
Item id 1028 | real rating : 3.0 | predicted rating : 4.325999443177717
Item id 63 | real rating : 3.0 | predicted rating : 3.174235799654863
Item id 1608 | real rating : 4.0 | predicted rating : 3.725
Item id 590 | real rating : 4.0 | predicted rating : 4.175092289165751
Item id 2011 | real rating : 2.0 | predicted rating : 3.4730726958850178
Item id 1376 | real rating : 4.0 | predicted rating : 4.124799360578465
Item id 3208 | real rating : 3.0 | predicted rating : 3.0742036265174972
Item id 3504 | real rating : 4.0 | predicted rating : 4.3000536129147555
Item id 509 | real rating : 4.0 | predicted rating : 4.174198075521022
Item id 1367 | real rating : 1.0 | predicted rating : 3.223280060829514
Item id 2841 | real rating : 4.0 | predicted rating : 3.8489368522139826
Item id 829 | real rating : 1.0 | predicted rating : 2.5732907821075286
Item id 1084 | real rating : 4.0 | predicted rating : 4.450003022150059
Item id 648 | real rating : 3.0 | predicted rating : 3.9734376183229174
Item id 2571 | real rating : 4.0 | predicted rating : 4.05